@import "../../sass/imports";

.table-container {
  width: 100%;

  &__table {
    width: 100%;

    table, thead, tr, th, tbody, td {
      border-collapse: collapse;
      border-spacing: 0px;
      margin: 0;
    }

    thead {
      position: sticky;
      top: 0;
      background-color: $white;

      tr {
        th {
          border-bottom: 1px solid rgba($black, .1);
          border-spacing: 0;
          text-align: left;
          padding: 10px;
          text-transform: uppercase;
          font-size: 12px;
          color: rgba($black, .3);
        }
      }
    }

    tbody {
      tr {
        td {
          border-spacing: 0;
          text-align: left;
          padding: 10px;
          font-size: 12px;
          color: $black;
          font-weight: 500;
          border-bottom: 1px solid rgba($black, .1);
        }
      }
    }

    .item-name {
      width: 60%;
    }

    .item-name, .item-quantity, .item-price {
      &.comfortable {
        padding: 30px 10px;
      }
    }

    .item-quantity, .item-price {
      width: 20%;
    }

    .item-price {
      text-align: right;
    }

    td.item-price {
      font-weight: bold;
    }
  }
}