@import "../../../sass/imports";

.header {
  background-color: $blue;
  padding: 15px 20px;
  position: relative;

  &__title {
    font-size: 20px;
    color: $white;
  }

  &__add {
    position: absolute;
    right: 100px;
    bottom: -25px;
    background-color: $pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: 0px 2px 6px rgba(black, .2);
    border-radius: 25px;
    transition: .15s;

    &:hover {
      box-shadow: 0px 2px 6px rgba(black, .4);
      cursor: pointer;
    }
  }
}