@import "../../sass/imports";

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 700px;
  background-color: $white;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba($black, .2);
  flex-flow: column;
  overflow: hidden;
  transform-origin: center;
  animation: modal-fade-in .15s ease-out forwards;

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__close {
      background-color: transparent;
      border: none;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .15s;

      &:hover {
        background-color: $grey;
        cursor: pointer;
      }

      &__img {
        height: 20px;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    padding: 20px;
    background-color: $grey;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    animation: backdrop-animation .15s ease-out forwards;
  }
}

@keyframes backdrop-animation {
  0% {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }
  100% {
    backdrop-filter: blur(2px);
    background-color: rgba($black, .3);
  }
}

@keyframes modal-fade-in {
  0% {
    transform: scale(.7) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}